body{
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: calc(100%);
  background-color: black;
  color: white;
}

/* Eliminar los estilos por defecto de ul */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Eliminar los estilos por defecto de li */
li {
  margin: 0;
  padding: 0;
}

/* Eliminar los estilos por defecto de a (enlaces) */
a {
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  color: inherit; /* Heredar el color del texto por defecto */
}