/* Navbar.module.css */
/* Agrega una clase a los botones */
.Boton {
  border: solid;
  padding: 0;
  font: inherit;
  cursor: pointer;
  /* Agrega más estilos personalizados según sea necesario */
  
}



/* Estilos base para la Navbar */
.Navbar {
  position: absolute;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #291e2f; /* Cambia el color de fondo según tus preferencias */
    
    
  }
  
  /* Media query para tablet */
  @media (min-width: 768px) {
    .Navbar {
  position: absolute;

      bottom: 0;
      width: 100vw;
      height: 15vh;
    }
  }
  
  /* Media query para pantalla de escritorio */
  @media (min-width: 1000px) {
    
    .Navbar {
  position: absolute;
  grid-template-columns: 1fr;

      left: 0;
      bottom: 0;
      width: 10vw;
      height: 100vh;
    }
  }
  