.violenciasT1{
width: 5px;

}


/* Estilo base para los marcadores */
.marker {
    width: 24px;
    height: 24px;
    background-color: #FF5733; /* Color base de los marcadores */
    border-radius: 50%; /* Hace que los marcadores sean círculos */
  }
  
  /* Estilo para el marcador cuando el mouse está sobre él */
  .marker.hovered {
    width: 30px;
    height: 30px;
    background-color: #FF5733; /* Puedes cambiar el color si lo deseas */
  }
  